$black: #000;
$white: #fff;
$scooter: #2ebbde;
$gray-80: #333;
$black-russian: #020016;
$whisper: #eee;
$light-gray: #aaa;
$cyan-blue: #2196f3;
$very-light-gray: #fafafa;
$gray-85: #d9d9d9;
$gray-94: #f0f0f0;
$gray-44: #707070;
$anzac: #c84343;
$blue: #2b5c7d;
$red: #b0062a;
$dark-red: #9b2f2f;